<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= data.name %> の詳細</title>
</head>
<body>

<h2><%= data.name %> の詳細</h2>

<table border="1">
  <tr>
    <th>項目</th>
    <th>内容</th>
  </tr>

  <tr>
    <td>ID</td>
    <td><%= data.id %></td>
  </tr>

  <tr>
    <td>大学名</td>
    <td><%= data.name %></td>
  </tr>

  <tr>
    <td>学部・学科</td>
    <td><%= data.topping %></td>
  </tr>

  <tr>
    <td>偏差値</td>
    <td><%= data.deviation %></td>
  </tr>

  <tr>
    <td>区分</td>
    <td><%= data.note %></td>
  </tr>
</table>

<br>
<a href="/yamagata/edit/<%= id %>">編集</a> |
<a href="/yamagata/delete/<%= id %>">削除</a>
<a href="/yamagata">一覧に戻る</a>

</body>
</html>
